@charset "utf-8";/*
Theme: "Is er al een regering" by WebKrunch adapted by Annick and The Beard
URL webkrunch: http://www.webkrunch.be
URL: http://www.annickandthebeard.be
E-mail: filip@annickandthebeard.be

*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,300italic,700);
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
body{margin:0;padding:0;background:#fff;color:#111;font-family:'Lato',arial,sans-serif;font-size:12px;}
a,ul,h2,h3,p{margin:0;padding:0;}
a{color: #62c4c3;text-decoration:none;font-weight:bolder;}
p{padding-bottom:10px;}
h1{font-size:30px;}
h1,h2,h3{margin:20px 0;}
h2{font-size:22px;text-transform:uppercase;color: rgb(30, 140, 155);}
h3{font-size:15px;}
.frame{margin:0 auto 0 auto;position:relative;}
.clearfix{clear:both;}
.low-opacity{opacity:0.4}

/* Styling top bar */

#top { background: #3a4249; position: fixed; width: 100%; top: 0px; z-index: 1;}
#top .frame {display: flex; max-width: 1278px; flex-flow: row wrap; justify-content: space-evenly; padding: 10px; max-height: 100%; }
#top .frame ul { display: flex; flex: 1 25%; justify-content: center;}
#top .frame ul > * {flex: 1; justify-items: center;}
#top .frame ul li { display: block; height: 34px; font-size: 2em; margin: auto 5%; list-style: none; }
#top .frame ul li a { display: block; height: 34px; color: #fff;}
#top .frame ul li a:hover, #top .frame ul li a:active { color: #FF5F5F;}


/* Styling center */ 
#center { margin-top: 80px;}
#center .frame {margin: 0px;}
#center #page-title,
#center .section-title{text-align:center;  padding: 20px 0px; margin-top: 0px; background-color: #62c4c3; border-radius: 0px 0px 50px 0px; width: 75%; color: #fff;}
#center #page-title span {width: 133%;}
#center #page-title span, #center .section-title span  {  display: block;}
#center #page-title{margin:40px 0;}
#center h2, #top h2 {text-align: center; text-decoration: underline;font-size: 28px; margin-top: 2em; font-weight: bolder;}
#center h3, #top h3 {text-align: center;}
#center h3 a, #top h3 a { text-decoration: underline; font-weight: bold;}
#center #note {font-size: 20px}
#center .remark {color:#62c4c3; text-decoration: none;}
#center .section-title{margin-bottom:30px;}
#center #selection {text-align:center; margin-bottom: 25px;}
#center #virus{width:350px;height:350px;margin:0 auto 40px auto;background:url(images/virus.png) 0 0 no-repeat;background-size: 100% 100%;text-align:center;}
#center #virus #result{padding-top:160px;display:block;font-size:65px;font-weight:bold;color:#62c4c3}
#center .status-note{padding-bottom:20px;font-size:16px;font-weight:bold;text-align:center;}
#center #counter{height:40px;margin-bottom:25px;text-align:center;}
#center #counter .dcountstyle{font-size:18px;font-weight:bold;}
#center #remark {text-align: center;margin: 75px 0 50px 0px;font-size: 18px;display: flex;flex-direction: row; flex-wrap: wrap;justify-content: space-evenly;}
#center #remark .icon-text {flex-grow: 1; max-width: 150px;}
#center #remark .icon-text .text {display: block;}
#center #remark .icon-text .icon {width: 150px;}
#center #measures {text-align: center;margin: 75px 0 50px 0px;font-size: 18px;display: flex;flex-direction: row; flex-wrap: wrap;justify-content: space-evenly;}
#center #measures .icon-text {flex-grow: 1; max-width: 200px;}
#center #measures .icon-text .text {display: block;}
#center #measures .icon-text img {width: 200px;}
#center #symptoms {text-align: center;margin: 75px 0 50px 0px;font-size: 18px;display: flex;flex-direction: row; flex-wrap: wrap;justify-content: space-evenly;}
#center #symptoms .icon-text {flex-grow: 1; max-width: 200px;}
#center #symptoms .icon-text .text {display: block;}
#center #symptoms .icon-text img {width: 200px;}
#center #info {text-align: center; margin: 75px 0 50px 0px;font-size: 18px;display: flex; flex-direction: row; flex-wrap: wrap;justify-content: space-evenly;}
#center #info .icon-text {flex-grow: 1; max-width: 256px;margin-bottom: 25px;}
#center #info .icon-text .icon {min-height: 150px; margin-bottom: 25px; display: inline-block; vertical-align: middle;}
#center #info .icon-text .icon img, #center #info .icon-text .icon svg {display: inline-block; height: 100%; vertical-align: middle;}
#center #info .icon-text .text {display: block;}
#center #social{text-align: center;margin-bottom:50px;font-size: 18px;}
#center #social ul{list-style-type:none;text-align:center;}
#center #social ul li{width:190px;display:inline-block;overflow:hidden;}
#copyrights{padding:20px 0;text-align:center;}
#copyrights #webkrunch{width:50px;height:23px;display:inline-block;background:url(images/annickandthebeard.png) 0 0 no-repeat;text-indent:-9999px;}

/* Select 2 styling */
.select2 {background-color: #FF5F5F; padding: 10px; margin: 0 auto; border-radius: 20px; margin-bottom: 5px;}
.select2-container--default .select2-selection--single .select2-selection__rendered { background-color: #FF5F5F; color: #fff; font-size: 1.5em; font-weight: bold;}
.select2-country-dropdown-results { font-size: 2em!important;}
.select2-container--default .select2-selection--single .select2-selection__arrow { top: 11px; right: 11px; width: 30px;}
.select2-container--default .select2-selection--single { border: none;}
.select2-container--default .select2-selection--single .select2-selection__arrow b {border-color: #fff transparent transparent transparent; border-width: 7px 6px 0px 6px;}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {border-color:  transparent transparent #fff transparent; border-width: 0px 6px 7px 6px;}

/* Buy me a coffee link */
#buymeacoffee { text-align: center; margin: 5px 25px; display: block;}
.bmc-button img{height: 34px !important;width: 35px !important;margin-bottom: 1px !important;box-shadow: none !important;border: none !important;vertical-align: middle !important;}
.bmc-button{padding: 7px 10px 7px 10px !important;line-height: 35px !important;height:51px !important;min-width:217px !important;text-decoration: none !important;display:inline-flex !important;color:#ffffff !important;background-color:#FF5F5F !important;border-radius: 5px !important;border: 1px solid transparent !important;padding: 7px 10px 7px 10px !important;font-size: 20px !important;letter-spacing:-0.08px !important;box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;margin: 0 auto !important;font-family:'Lato', sans-serif !important;-webkit-box-sizing: border-box !important;box-sizing: border-box !important;-o-transition: 0.3s all linear !important;-webkit-transition: 0.3s all linear !important;-moz-transition: 0.3s all linear !important;-ms-transition: 0.3s all linear !important;transition: 0.3s all linear !important;}
.bmc-button:hover, .bmc-button:active, .bmc-button:focus {-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;text-decoration: none !important;box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;opacity: 0.85 !important;color:#ffffff !important;}

/* Table styling */

#center table { display: block; overflow-x: scroll; width: 100%}
#center #lockdownState, #center #lockdownUSState { border-spacing: 0; font-size: 1.3em; position: relative;}
#center #lockdownState th, #center #lockdownUSState th {background: #62c4c3; position: sticky; top: 0px;}
#center #lockdownState tr > th, #center #lockdownState tr > td, #center #lockdownUSState tr > th, #center #lockdownUSState tr > td {padding: 8px; border: 1px solid #62c4c3;margin:0px;}
#center #lockdownState tr > th, #center #lockdownUSState tr > th{ border-color: #fff;}
#center #lockdownState td, #center #lockdownUSState td {border-left-width: 0; border-bottom-width: 0; }
#center #lockdownState td:nth-child(1), #center #lockdownUSState td:nth-child(1){ font-weight: bold; color: #62c4c3; font-size: 1.2em;}
#center #lockdownState tr:hover, #center #lockdownUSState tr:hover {background: #FF5F5F;}
#center #lockdownState tr:hover td:nth-child(1), #center #lockdownUSState tr:hover td:nth-child(1) { color: #fff;}

/* Numbers styling */
#center #numbers {border: 5px solid #62c4c3; border-radius: 50px; width: 50%; margin: 0 auto;}
#top h1, #center #numbers h1 {text-align: center; color:#62c4c3; margin: 0 auto;}
#top #numbers span, #center #numbers span {font-size: 2em;text-align: center; color:#FF5F5F; margin: 10px auto 40px auto; display: block; font-weight: bold;}

/* Map styling */
#map {width: 100%;}
#map #tabs { display: flex; list-style-type: none; width: 650px; justify-items: center;margin: 0 auto -5px auto;} 
#map #tabs li a{ display: block;padding: 8px 10px; border: 5px solid #62c4c3; border-radius: 10px 10px 0px 0px; border-width: 5px 5px 0px 5px; margin: 5px;}
#map #tabs li a:hover, #map #tabs li a.selected { background-color: #62c4c3; color: #fff;}
#chartdiv { width: 750px; height: 400px;margin: 0 auto; border: 5px solid #62c4c3; border-radius: 50px;padding: 15px;}
/* Loading Map */
#loading { height: 500px; margin-top: -500px;}
#loading #loadingIcon {
    position: relative;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-350px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
	animation:spin 4s linear infinite;
	display: block;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@media only screen and (max-width:1279px){
	.frame {max-width: 100%;}
	#top .frame {max-width: 100%;}
	.bmc-button img{height: 17px !important;width: 17px !important;margin-bottom: 1px !important;box-shadow: none !important;border: none !important;vertical-align: middle !important;}
	.bmc-button{padding: 3px 5px 3px 5px !important;line-height: 17px !important;height:30px !important;min-width:150px !important;text-decoration: none !important;display:inline-flex !important;color:#ffffff !important;background-color:#FF5F5F !important;border-radius: 5px !important;border: 1px solid transparent !important;padding: 7px 10px 7px 10px !important;font-size: 1em !important;letter-spacing:-0.08px !important;box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;margin: 0 auto !important;font-family:'Lato', sans-serif !important;-webkit-box-sizing: border-box !important;box-sizing: border-box !important;-o-transition: 0.3s all linear !important;-webkit-transition: 0.3s all linear !important;-moz-transition: 0.3s all linear !important;-ms-transition: 0.3s all linear !important;transition: 0.3s all linear !important;}
	.bmc-button:hover, .bmc-button:active, .bmc-button:focus {-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;text-decoration: none !important;box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;opacity: 0.85 !important;color:#ffffff !important;}
	#center .frame {width: 100%;}
	#center { margin-top: 60px;}
	#center #numbers { float: none; position: relative; width: 75%; margin: 100px auto; padding: 10px;}
}
@media only screen and (max-width:1023px){
	.frame {max-width: 100%;}
	#top .frame {max-width: 1023px; padding: 10px;}
}
@media only screen and (max-width:767px) and (orientation: portrait){
	.frame{width:100%;}
	#center #page-title span {width: 100%;}
	#chartdiv{width: 75%; height: 100%; border-radius: 20px;}
	#map #tabs {width: 100%; margin-left: 50px;}
	
}
@media only screen and (max-width:479px) and (orientation: portrait){
	.frame{width:100%;}
	#top .frame {width: 300px; padding: 10px}
	#top .frame ul li { font-size: 1.2em;}
	#center { margin-top: 80px;}
	#center #virus { width: 300px; height: 300px;}
	#center #virus #result { padding-top: 140px; font-size: 50px}
	
}
@media only screen and (max-width:319px) and (orientation: portrait){
	.frame{width:220px;}
	#top .frame {width: 220px; padding: 2%}

}

